## General gitignores
*.DS_STORE

## Environment Variables
#    Keep example environment files 
*.env
!*.example.env
*.init.json
!*.example.init.json

## Client
#    ignore all node modules
**/node_modules/

## Whitelist
#    ignore all backups
/authn/whitelist_cache/redis_data/*

## Store
#    ignore all backups
/authn/store_cache/redis_data/*

## Webapi build
#   ignore binary
/authn/webapi/webapi

## Builds
/gateway/webapi/main

# ignore the build
web_client/prod/

# ignore yarn
yarn-error.log
yarn.lock

# Database develepment environment

# In our database development we want to ignore all files
# created by postgresql.

# This pattern will ignore all files but a simple empty ".keep" file.
/authn/store_db/postgres/*

# Keep Hack
!.keep

# Do not save keys, ever
gateway/certs/gateway/*
!/gateway/certs/gateway/cert.conf

/statics/certs/statics/*
!/statics/certs/statics/cert.conf

authn/certs/authn/*
!/authn/certs/authn/cert.conf
