## General gitignores
*.DS_STORE
*.env

## Client
# ignore all node modules
*/node_modules/

# ignore the build
web_client/prod/

# ignore yarn
yarn-error.log
yarn.lock

# Database develepment environment

# In our database development we want to ignore all files
# created by postgresql.

# This pattern will ignore all files but a simple empty ".keep" file.
/database/postgres_data/*
!/database/postgres_data/.keep
