.main_content_container {
  background-color: gray;
  margin: 0 auto 0 auto;
  width: 100%;
}

@media (min-width: 800px) {
  .main_content_container {
    width: calc(100% - 28px);
    max-width: 800px;
  }
}

@media (min-width: 960px) {
  .main_content_container {
    width: calc(100% - 28px);
    max-width: 960px;
  }
}

@media (min-width: 1080px) {
  .main_content_container {
    width: 960px;
  }
}
